body{
  color: #5f6367;
  background: #f8f9fa;
  font-size: 16px;
  --cc-white: #fff;
  --cc-border: #d9dce0;
  --cc-primary: #4974d4;
  --cc-error: #ef5350;
  --cc-warning: #ffa726;
  --cc-success: #72c14b;
  --cc-info: #2196f3;
}

a{
  color:var(--cc-primary);
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

html, body, #root{
  height: 100%;
}

#root{
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 20px 0;
  min-height: 640px;
}

.option-error{
  color: var(--cc-error);
}

.option-root{
  width: 580px;
  margin: 0 auto;
}

.option-title{
  font-weight: 400;
  margin-bottom: 16px;
}

.option-check{
  float: right;
}

.option-textarea{
  height: 60px;
  .cc-textarea{
    width: 360px;
    min-height: 50px;
  }
}

.option-list{
  border-radius: 6px;
  margin-bottom: 30px;
  background: var(--cc-white);
  box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
}

.option-item{
  color: #5f6367;
  display: block;
  padding: 10px 16px;
  position: relative;
  border-bottom: 1px solid var(--cc-border);
  &:hover{
    color: #5f6367;
    text-decoration: none;
  }
  &:last-child{
    border: 0;
  }
  .option-line{
    margin: 0;
  }
  .option-buttons{
    position: absolute;
    right: 16px;
    top: 50%;
    display: flex;
    transform: translate(0, -50%);
    .cc-button{
      margin-left: 8px;
    }
  }
}

.option-donate{
  position: relative;
  img{
    display: none;
    background:#eaeaea;
    position: absolute;
    top: -158px;
    right: 0;
    width: 360px;
    z-index: 100;
    padding: 2px;
    border: 1px solid #ccc;
  }
  &:hover img{
    display: block;
  }
}
