body{
  color: #5f6367;
  background: #f8f9fa;
  font-size: 16px;
  --cc-white: #fff;
  --cc-border: #d9dce0;
  --cc-primary: #4974d4;
  --cc-error: #ef5350;
  --cc-warning: #ffa726;
  --cc-success: #72c14b;
  --cc-info: #2196f3;
}

a{
  color:var(--cc-primary);
  text-decoration:none;
}
a:hover {
  text-decoration: none;
}

#root{
  padding: 40px 0;
}

.option-error{
  color: var(--cc-error);
}

.option-root{
  width: 600px;
  margin: 80px auto 0;
}

.option-header{
  padding: 0;
  display: flex;
  list-style: none;
  align-items: baseline;
  justify-content: space-between;
  li{
    cursor: pointer;
    &:hover{
      color:var(--cc-primary);
    }
    &.active{
      font-size: 20px;
      color:var(--cc-primary);
    }
  }
}

.option-textarea{
  height: 60px;
  .cc-textarea{
    width: 360px;
    min-height: 50px;
  }
}

.option-list{
  border-radius: 6px;
  margin-bottom: 30px;
  background: var(--cc-white);
  box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
}

.option-item{
  color: #5f6367;
  display: block;
  padding: 10px 16px;
  position: relative;
  border-top: 1px solid var(--cc-border);
  &:hover{
    color: #5f6367;
    text-decoration: none;
  }
  &:first-child{
    border: 0;
  }
  .option-buttons{
    position: absolute;
    right: 16px;
    top: 50%;
    display: flex;
    transform: translate(0, -50%);
    .cc-button{
      margin-left: 8px;
    }
  }
}

.option-parser{
  border: 0;
}

.option-center{
  text-align: center;
}

.option-iframe{
  height: 500px;
  width: 100%;
  border: 0;
}
