{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
    }, "antd"]
    // ["import", {
    //   "libraryName": "lodash",
    //   "libraryDirectory": "",
    //   "camel2DashComponentName": false
    // }, "lodash"],
    // ["import", {
    //   "libraryName": "@ant-design/icons",
    //   "libraryDirectory": "es/icons",
    //   "camel2DashComponentName": false
    // }, "@ant-design/icons"]
  ]
}
