{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "globals": {
    "chrome": true,
    "browser": true,
    "app": true,
    "api": true,
    "utils": true,
    "dom": true,
    "hljs": true,
    "ga": true
  }
}
