.option-welcome{
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  h1{
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 30px;
  }
  .cc-button{
    margin: 0 5px;
    font-size: 18px;
    padding: 10px 20px;
  }
  .cc-progress{
    width: 480px;
    margin: 40px auto 0;
  }
}
