.cc-button {
  border: 1px solid var(--cc-border);
  border-radius: 4px;
  color:var(--cc-primary);
  cursor: pointer;
  background: transparent;
  padding: 6px 10px;
  user-select: none;
  transition: all .2s;
  &:hover {
    opacity: .8;
  }
  &.loading{
    position: relative;
    padding-left: 40px;
    .cc-loading{
      position: absolute;
      left: -20px;
      top: 0;
      svg{
        fill: var(--cc-white);
      }
    }
  }
  &.primary {
    color: var(--cc-white);
    background-color: var(--cc-primary);
    border-width: 0;
    .cc-button svg{
      fill: var(--cc-white);
    }
  }
  &.success {
    color: var(--cc-white);
    background-color: var(--cc-success);
    border-width: 0;
    .cc-button svg{
      fill: var(--cc-white);
    }
  }
  &.danger {
    color: var(--cc-white);
    background-color: var(--cc-error);
    border-width: 0;
    .cc-button svg{
      fill: var(--cc-white);
    }
  }
  &:disabled, &:disabled:hover{
    cursor: not-allowed;
    color:#bbbbbb;
    background-color: #eee;
    border: 1px solid #eee;
  }
}
